li {
  list-style-type: none;
}
#contener {
  display: flex;
  flex-direction: row-reverse;
}

#box1{
  width: 50%;
}

#box2 {
  background: grey;
  width: 50%;
}

#inbox2 {
  background: silver;
}
#box3 {
  align-self: flex-end;
}
