<!DOCTYPE html>
<html ng-app="drag-and-drop">
<head lang="en">
  <meta charset="utf-8">
  <title>Test</title>
  <script src="scripts/jquery-1.11.3.min.js"></script>
  <script src="scripts/jquery-ui.min.js"></script>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/angular-dragdrop.min.js"></script>
  <script src="scripts/app.js"></script>
  <link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <style>
    .thumbnail { height: 280px !important; }
    .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
    .btn-draggable { width: 160px; }
  </style>

  <script type="text/javascript">

  </script>
</head>
<body>
<div id="contener" ng-controller="oneCtrl">

    <div id="box1" class='contentWrapper ng-cloak'>
      <div class='content'>
        <div class="row-fluid">
          <ul class="thumbnails">
            <li class="span3" style='margin-left:10px;'>
              <div class="thumbnail" data-drop="true" ng-model='list1' data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true}">
                <div class="caption">
                  <div class="{{item.class}}" ng-repeat="item in list1" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="box2" class="navbar-inner">
      <div id="inbox2" class="container form-inline" style="text-align: center;">
        <div class="btn btn-droppable" ng-repeat="item in list5" data-drop="true" ng-model='list5' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list5])'}"  jqyoui-droppable="{index: {{$index}}}">
          <div class="{{item.class}}" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{item.title}}</div>
        </div>

      </div>
    </div>
  <div id="box3">
    {{list1 | json}}
  </div>
</div>
</body>
</html>
